<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	{% block title_modify %}
	{% endblock %}
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
		<a class="navbar-brand" href="/">Episodes</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		<div class="collapse navbar-collapse" id="exCollapsingNavbar2">
			<div class="navbar-nav mr-auto">
				<a class="nav-item nav-link" href="/all">All</a>
				<a class="nav-item nav-link" href="/add_search">Add</a>
				<a class="nav-item nav-link" href="/update_all_shows">Update</a>
				<a class="nav-item nav-link" href="/recommended">Recommendations</a>
			</div>
			<form class="form-inline float-lg-right" action="{% url 'tvshow:search' %}">
				<input class="form-control mr-sm-2" name='query' type="text" placeholder="Search">
				<!-- <button class="btn btn-success" type="submit">Search</button> -->
				<!-- <a class="btn btn-info my-2 my-sm-0" href="/logout" role="button">Logout</a> -->
			</form>
		</div>
	</nav>
	<div style="padding-top: 75px;">
		{% block content %}
		{% endblock %}
	</div>
		<!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	
		<script type="text/javascript">
		$(document).ready(function () {
			$('#messages').modal('show');
		});
		</script>
	</body>

	</html>
