{% extends "tvshow/header.html" %}

{% block content %}
<div class="container-fluid col-xs-12">
  <div class="card-columns">
    {% for show in show_data %}
    <div class="card">
        <a href='/show/{{show.slug}}'>
          <img class="card-img-top img-fluid" src="{{show.banner}}" alt="Card image cap">
        </a>
        {% if show.is_watched %}
          <progress class="progress progress-striped progress-success" value="{{show.episode_watch_count}}" max="{{show.total_episodes}}"></progress>
        {% else %}
          <progress class="progress progress-striped" value="{{show.episode_watch_count}}" max="{{show.total_episodes}}"></progress>
        {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
