{% extends "tvshow/header.html" %}

{% block title_modify %}
<title>Episodes</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="card-columns">
  {% for show in show_data %}
  <div class="card shadow-sm">
      {% if flag %}
      <div class="card-header">
        <div class="head" style="display: flex;flex-direction: row;justify-content: center;">
          <a href='/show/{{show.slug}}' style="flex-grow: 1;"><p class="card-text text-center">{{show.next_episode.season.number}}.{{show.next_episode.number}} <small>{{show.next_episode.episodeName}}</small></p></a>
          <form class='form-inline float-xs-right' action="/episode_swt" method="post">{% csrf_token %}<input type="hidden" name="episode_swt" value="{{show.next_episode.id}}"><input type="hidden" name="referrer" value="home"></input><input type="checkbox" onclick="this.form.submit();"></form>
        </div>
      </div>
      {% endif %}
      <a href='/show/{{show.slug}}'>
        <img class="card-img-top img-fluid" src="{{show.banner}}" alt="{{show.seriesName}}">
      </a>
      <div class="progress">
        {% if show.is_watched %}
          <div class="progress-bar progress-bar-striped bg-success" aria-valuenow="{{show.episode_watch_count}}" aria-valuemax="{{show.total_episodes}}" style="width: {% widthratio show.episode_watch_count show.total_episodes 100 %}%"></div>
        {% else %}
          <div class="progress-bar progress-bar-striped" aria-valuenow="{{show.episode_watch_count}}" aria-valuemax="{{show.total_episodes}}" style="width: {% widthratio show.episode_watch_count show.total_episodes 100 %}%"></div>
        {% endif %}
      </div>
  </div>
  {% endfor %}
</div>
</div>

{% if messages %}
<div class="modal fade" id="messages" tabindex="-1" role="dialog" aria-labelledby="messagesLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title text-xs-center" id="myModalLabel">Updates</h4>
    </div>
    <div class="modal-body">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{message}}
        </div>
        {% endfor %}
    </div>
  </div>
</div>
</div>
{% endif %}
{% endblock %}
