{% extends "tvshow/header.html" %}

{% block title_modify %}
<title>Search</title>
{% endblock %}

{% block content %}
<div class="container-fluid col-xs-12">
  <div class="card-deck">
    <!-- <div class="card-deck-wrapper"> -->
    <div class="card">
      <div class="card-header">Shows</div>
    {% for show in show_data %}
      <div class="card-block">
        <a href='/show/{{show.slug}}'>
          <img class="card-img-top img-fluid" src="{{show.banner}}" alt="Card image cap">
        </a>
      </div>
    {% endfor %}
  </div>
  <!-- </div> -->
  <!-- <div class="card-deck-wrapper"> -->
    <div class="card text-xs-center">
      <div class="card-header">Episodes</div>
    <ul class="list-group">
      {% for episode in episode_list %}
      <li class="list-group-item">
        <h5 class="list-group-item-heading">{{episode.season.show.seriesName}} S{{episode.season.number}}</h5>
        {{episode.number}}. {{episode.episodeName}}</a> <small>{{episode.firstAired}}</small>
        <p class="list-group-item-text">{{episode.overview}}</p>
      </li>
      <div class="collapse" id="collapseS{{episode.season.number}}E{{episode.number}}">
        <div class="card card-block card-inverse card-danger">
          <p class="card-text">
            {{episode.overview}}
          </p>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
  <!-- </div> -->
  </div>
</div>
{% endblock %}
