{% extends 'tvshow/header.html' %}

{% block title_modify %}
<title>{{show.seriesName}}</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="card-deck">
  <div class="card text-center shadow-sm">
    <img class="card-img-top img-fluid" src="{{show.banner}}">
    <div class="card-body">
      <h5 class="card-title">
        <a target="_blank" href="http://www.imdb.com/title/{{show.imbdID}}"><h3 class="card-title text-xs-center">{{show.seriesName}}<small class="text-muted"> ({{show.network}})</small></h3></a>
      </h5>
      <div style="padding-bottom: 15px;">
        {% for genre in show.get_genres %}
          <span class="badge badge-pill badge-danger">{{genre}}</span>
        {% endfor %}
      </div>
      <div style="padding-bottom: 15px;">
        <div class="progress">
          {% if show.is_watched %}
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {% widthratio show.episode_watch_count show.total_episodes 100 %}%" aria-valuemin="0" aria-valuenow="{{show.episode_watch_count}}" aria-valuemax="{{show.total_episodes}}"></div>
          {% else %}
            <div class="progress-bar progress-bar-striped" aria-valuenow="{{show.episode_watch_count}}" aria-valuemin="0" aria-valuemax="{{show.total_episodes}}" style="width: {% widthratio show.episode_watch_count show.total_episodes 100 %}%"></div>
          {% endif %}
        </div>
      </div>
      <p class="card-text">
        {{show.overview}}
      </p>
      <button class="btn btn-danger" data-toggle="modal" data-target=".delete-show">Delete</button>
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-header">
      Seasons
      <form class="form float-right" action="/update_show" method="post">{% csrf_token %}
        <button type="submit" name="button" class="btn btn-warning btn-sm">Update</button>
        <input type="hidden" name="show_info" value="{{show.id}}">
      </form>
    </div>
    <div class="list-group">
      {% for season in show.sorted_season_set %}
      <a class="list-group-item list-group-item-action" data-toggle="modal" data-target="#s{{season.number}}">
        <strong>Season {{season.number}}</strong> <small class="float-right"> Watched {{season.watch_count}} of {{season.episode_count}} episodes.</small>
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-header" style="background: #dff0d8;">Next to Watch</div>
    {% if next_episode %}
    <ul class="list-group">
      <li class="list-group-item">
        {{next_episode.number}}. <a data-toggle="collapse" href="#collapseE{{next_episode.number}}" aria-expanded="false" aria-controls="collapseE{{next_episode.number}}">{{next_episode.episodeName}}</a> <small>{{next_episode.firstAired}}</small>
        <form class='form float-right' action="/episode_swt" method="post">{% csrf_token %}
          <input type="hidden" name="episode_swt" value="{{next_episode.id}}">
          {% if next_episode.status_watched == True %}
          <input type="checkbox" onclick="this.form.submit();" checked>
          {% else %}
          <input type="checkbox" onclick="this.form.submit();">
          {% endif %}
        </form>
      </li>
      <div class="collapse" id="collapseE{{next_episode.number}}">
        <div class="card card-body bg-danger text-light">
          {{next_episode.overview}}
        </div>
      </div>
    </ul>
    {% endif %}
    <div class="card-body text-center">
      <button class="btn btn-danger">Site Rating : {{show.siteRating|floatformat:"1"}}</button>
      <button class="btn btn-success" data-toggle="modal" data-target=".change-user-rating">Your Rating : {{show.userRating|floatformat:"1"}}</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade change-user-rating" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-xs-center">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modify Rating</h4>
      </div>
      <form action="/update_rating" method="post">{% csrf_token %}
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Rating</span>
          <input type="number" class="form-control" name="new_rating" aria-describedby="basic-addon3" max=10 min=0 step=0.1 value="{{show.userRating|floatformat:'0'}}">
          <input type="hidden" value={{show.id}} name='show_id'>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade delete-show" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-xs-center">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">All data will be deleted!!</h4>
        </div>
        <form action="/delete_show" method="post">{% csrf_token %}
        <div class="modal-body">
            <p>
              {{show.seriesName}} and all its episodes will be deleted.
            </p>
            <input type="hidden" value={{show.id}} name='show_id'>
        </div>
      <div class="modal-footer text-xs-center">
        <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
      </form>
    </div>
    </div>
  </div>
</div>

{% for season in show.seasons.all %}
{% include 'tvshow/single_season_modal_snippet.html' with season=season %}
{% endfor %}
{% endblock %}
