{% extends 'tvshow/header.html' %}

{% block content %}
<div class="card-deck">
  <div class="card">
    <img class="card-img-top img-fluid" src="{{show.banner}}" alt="Card image cap">
    <div class="card-block text-xs-center">
      <a target="_blank" href="http://www.imdb.com/title/{{show.imbdID}}"><h3 class="card-title text-xs-center">{{show.seriesName}}<small class="text-muted"> ({{show.network}})</small></h3></a>
      {% for genre in show.get_genres %}
        <span class="tag tag-pill tag-danger text-xs-center">{{genre}}</span>
      {% endfor %}
      <br>
      <br>
      {% if show.is_watched %}
        <progress class="progress progress-striped progress-success" value="{{show.episode_watch_count}}" max="{{show.total_episodes}}"></progress>
      {% else %}
        <progress class="progress progress-striped" value="{{show.episode_watch_count}}" max="{{show.total_episodes}}"></progress>
      {% endif %}
      <p class="card-text">
        {{show.overview}}
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Seasons
      <form class="form-inlne pull-xs-right" action="/update_show" method="post">{% csrf_token %}
        <button type="submit" name="button" class="btn btn-warning btn-sm">Update</button>
        <input type="hidden" name="show_info" value="{{show.id}}">
      </form>
    </div>
    <div class="list-group list-group-flush">
      {% for season in show.season_set.all %}
      <a class="list-group-item" data-toggle="modal" data-target="#s{{season.number}}">
        Season {{season.number}} <small> Watched {{season.watch_count}} of {{season.episode_count}} episodes.</small>
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="card">
    {% if next_episode %}
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">Next to Watch</li>
      <li class="list-group-item">
        {{next_episode.number}}. <a data-toggle="collapse" href="#collapseE{{next_episode.number}}" aria-expanded="false" aria-controls="collapseE{{next_episode.number}}">{{next_episode.episodeName}}</a> <small>{{next_episode.firstAired}}</small>
        <form class='form-inline pull-xs-right' action="/episode_swt" method="post">{% csrf_token %}
          <input type="hidden" name="episode_swt" value="{{next_episode.id}}">
          {% if next_episode.status_watched == True %}
          <input type="checkbox" onclick="this.form.submit();" checked>
          {% else %}
          <input type="checkbox" onclick="this.form.submit();">
          {% endif %}
        </form>
      </li>
      <div class="collapse" id="collapseE{{next_episode.number}}">
        <div class="card-block card-inverse card-danger">
          <p class="card-text">
            {{next_episode.overview}}
          </p>
        </div>
      </div>
    </ul>
    {% endif %}
    <br>
    <div class="card-block text-xs-center">
      <button class="btn btn-danger">Site Rating : {{show.siteRating|floatformat:"1"}}</button>
      <br>
      <br>
      <button class="btn btn-success" data-toggle="modal" data-target=".change-user-rating">Your Rating : {{show.userRating|floatformat:"1"}}</button>
    </div>
  </div>
</div>

<div class="modal fade change-user-rating" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-xs-center">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modify Rating</h4>
      </div>
      <form action="/update_rating" method="post">{% csrf_token %}
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Rating</span>
          <input type="number" class="form-control" name="new_rating" aria-describedby="basic-addon3" max=10 value="{{show.userRating|floatformat:'0'}}">
          <input type="hidden" value={{show.id}} name='show_id'>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% for season in show.season_set.all %}
{% include 'tvshow/single_season_modal_snippet.html' with season=season %}
{% endfor %}
{% endblock %}
