<div class="modal fade" id="s{{season.number}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" rolepytho="document">
    <div class="modal-content">
      <div class="modal-header">
        <form class="form-inline" action="/season_swt" method="post">{% csrf_token %}
          <button type="button" class="btn btn-sm btn-secondary pull-xs-right" data-dismiss="modal">Close</button>
          <h4 class="modal-title pull-xs-left" id="myModalLabel">Season {{season.number}}</h4>
          <input type="hidden" name="season_swt" value="{{season.id}}">
          {% if season.status_watched == True %}
          <button class="btn btn-sm btn-secondary-outline pull-xs-right" type="submit">Mark Not Watched</button>
          {% else %}
          <button class="btn btn-sm btn-primary pull-xs-right" type="submit">Mark Watched</button>
          {% endif %}
        </form>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          {% for episode in season.episode_set.all %}
          <li class="list-group-item">
            {{episode.number}}. <a data-toggle="collapse" href="#collapseS{{episode.season.number}}E{{episode.number}}" aria-expanded="false" aria-controls="collapseS{{episode.season.number}}E{{episode.number}}">{{episode.episodeName}}</a> <small>{{episode.firstAired}}</small>
            <form class='form-inline pull-xs-right' action="/episode_swt" method="post">{% csrf_token %}
              <input type="hidden" name="episode_swt" value="{{episode.id}}">
              {% if episode.status_watched == True %}
              <input type="checkbox" onclick="this.form.submit();" checked>
              {% else %}
              <input type="checkbox" onclick="this.form.submit();">
              {% endif %}
            </form>
          </li>
          <div class="collapse" id="collapseS{{episode.season.number}}E{{episode.number}}">
            <div class="card card-block card-inverse card-danger">
              <p class="card-text">
                {{episode.overview}}
              </p>
            </div>
          </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
